<mat-card-header>
  <mat-card-title>{{thread.title}}</mat-card-title>
  <mat-card-subtitle>Date: {{thread.epoch*1000 | date : 'short'}}</mat-card-subtitle>
</mat-card-header>
<mat-card-content>
  <p>{{thread.content}}</p>
  <footer> {{thread.updoot}}<button [disabled]="updooted" (click)="updootPost(thread)" mat-icon-button color="warn"
      aria-label="Example icon button with a heart icon">
      <mat-icon>favorite</mat-icon>
    </button></footer>
</mat-card-content>
<mat-card-footer>

</mat-card-footer>
<button class="replyButton" mat-button *ngIf="threadId == 0" (click)="viewReplies(thread.threadId)">View Replies</button>