<p>posts works!</p>

<div class="post-card">
<mat-card *ngFor="let p of threads">
    <mat-card-header>
        <mat-card-title>{{p.title}}</mat-card-title>
        <mat-card-subtitle>Date: {{p.epoch}}</mat-card-subtitle>
    </mat-card-header>
        <mat-card-content>
                <p>{{p.content}}content goes mat-card-heade</p>
                <footer> {{p.updoot}}</footer>
        </mat-card-content>
        <mat-card-footer> 

        
        <button mat-icon-button color="warn" aria-label="Example icon button with a heart icon">
            <mat-icon>favorite</mat-icon>
          </button>
        </mat-card-footer>
</mat-card>
</div>
    

 

