/* You can add global styles to this file, and also import other style files */
.btnForm {
    margin: auto;
    color: rgb(244, 52, 52);
    text-align: center;
    font-weight: 300;
    font-size: 15px;
    border: 15px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    letter-spacing: 2px;
    align-items: center;
    background-color: blueviolet;
}
input{
    color:rgb(192, 212, 215);
    background-color: rgba(64, 154, 219, 0.872);
    font-weight: 600;
    align-items: center;
    padding:10px;
    margin-bottom: 10px;
    font-size:20px;
    width:500px;
}
label {
    margin-right: 10px;
    font-size: 20px;
    font-weight: 300;    
    color: rgb(244, 52, 52);
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
form {
    margin-top:400px;
    text-align: center;
    border: 2px;
    font-size: 20px;
    font-weight: 600;
    background-color: rgb(23, 33, 73);
    letter-spacing: 2px;
}